@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
html {
    --brand-green: #92A770;
    --black: #000000;
    --inactive-link: #C5C5C5;
    --main-back: #FBFBFB;
    --line-black: #3A3A3A;
    --promo-line: #91A86B;
    box-sizing: border-box;
    color: var(--black);
}

:root {
    font-size: 16px;
}

body {
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    text-transform: uppercase;
    color: #1D2228;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.23;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.219em;
    text-transform: uppercase;
}

a {
    color: var(--black);
}

span {
    text-decoration: underline var(--line-black);
}

p {
    font-weight: 500;
    line-height: 1.375;
}

.content {
    max-width: 80.375em;
    padding: 0 4.8125em;
    margin: 0 auto;
}


/* promo-line */

.promo-line {
    position: relative;
}

.promo-line__inner {
    background-color: var(--promo-line);
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.21;
    padding: 0.25em 0 0.1667em 0;
    position: absolute;
    width: 103.5%;
    white-space: nowrap;
    overflow: hidden;
    left: -3.5%;
}

.promo-line__inner img {
    padding: 0 0.8334em .0834em 0.6667em;
}


/* nav */

.nav-container__inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 3.375em;
}

.nav-button>img {
    width: 1.5625em;
    height: .6875em;
    margin-top: .375em;
}

.logo {
    height: 25.9px;
    width: 162px;
}

.nav-icons {
    margin-top: .375em;
    display: flex;
}

.nav-icons>p {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.2em;
    text-transform: uppercase;
    padding-left: .5em;
    padding-right: .6667em;
}

.nav-icons>p:last-child {
    padding-right: 0;
}

#head_img1 {
    width: 10px;
    height: 14px;
}

#head_img2 {
    width: 16px;
    height: 15.5px;
}


/* nav-line */

.nav-line {
    margin-top: 5.5em;
    text-transform: uppercase;
    position: relative;
}

.nav-line-path {
    font-size: 0.875rem;
    line-height: 1.214;
}

.nav-line-item {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* nav-items */

.nav-items {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 4.25em;
    font-weight: 600;
    line-height: 1.25;
    padding-left: 1em;
}

.nav-items {
    position: relative;
    display: inline-block;
}

.nav-items a {
    margin-left: 9.8333em;
}

.nav-items a:first-child {
    margin-left: 0;
}

.nav-items a:nth-child(even) {
    color: var(--inactive-link);
    font-weight: 500;
}

.nav-items::after {
    content: url(/img/icons/star_big.svg);
    position: absolute;
    top: -15px;
    right: -34px;
}


/* order-block */

.order-block {
    height: 196px;
    border: 1px solid var(--black);
    background-color: var(--main-back);
    border-radius: 10px;
    margin-top: 6.68em;
}

.order-block__inner {
    padding: 4.125em 0 4.125em 7.19em;
}

.order-block__inner h1 {
    margin-bottom: .8em;
}

.order-block__inner p {
    font-size: 1.125rem;
}


/* recomend */

.recomend {
    margin-top: 2.563em;
}

.carusel {
    /* position: relative; */
}

.recomend__cards {
    margin-top: 1.875em;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}


/* .recomend__cards ::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 1.2em;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59.45%);
    pointer-events: none;
} */

.card {
    display: inline-block;
    width: 245px;
    height: 365px;
    margin-right: 25px;
    background-color: var(--main-back);
    border-radius: 10px;
}

.card__cont {
    padding: 0.688em 1.125em 0;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__cont--name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.card__cont>h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.375;
    text-align: center;
}

.carousel img {
    mix-blend-mode: darken;
}

.card__footer {
    padding: 0.688em 1.125em 0;
    display: flex;
    justify-content: space-between;
}

.card__footer>p {
    font-family: 'Montserrat', italic;
    font-weight: 500;
    font-size: 1.17rem;
    line-height: 1.28;
}

.recomend-scroll {
    margin-top: 15px;
    position: relative;
    width: 100%;
    height: 4px;
    background: #8E8E8E;
    opacity: 0.3;
    border-radius: 115.44px;
}

.scroll-progress {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000000;
    opacity: 0.2;
    top: 0;
    left: 0;
    border-radius: 115.44px;
}

#scroll {
    margin-top: 0.9375em;
}


/* photos */

.photos {
    margin-top: 7em;
    position: relative;
    width: 100%;
}

.photos__gallery img {
    display: block;
}

.photos__gallery ul li:nth-child(odd) img {
    width: 500px;
    height: 576px;
}

.photos__gallery ul li:nth-child(even) img {
    width: 530px;
    height: 610px;
}

.photos__gallery {
    width: 100%;
    overflow: hidden;
}

.photos__gallery ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    /* height: 500px; */
    width: 9999px;
    position: relative;
    left: -403px;
}

.photos__gallery li {
    display: inline-block;
    /* margin-left: 1.375em; */
}

@media (max-width:25.875em) {
    .content {
        max-width: 21.75em;
        padding: 0 2.0625em;
    }
    .nav-icons {
        display: none;
    }
}