/* 1024px */

@media (max-width:64em) {
    .content {
        max-width: 54.375em;
    }
    .nav-line {
        margin-top: 4.125em;
        /* margin-top: 66px; */
    }
    .nav-items a {
        margin-left: 4.75em;
    }
    /* recomend */
    .recomend {
        margin-top: 65px;
    }
    .recomend__cards {
        margin-top: 20px;
    }
}


/* 768 */

@media (max-width:48em) {
    h2 {
        font-size: 1.625rem;
        line-height: 1.1923em;
        text-transform: uppercase;
    }
    .content {
        max-width: 44.125em;
        padding: 0 1.9375em;
    }
    .order-block {
        height: 162px;
    }
    .order-block__inner {
        padding: 37px 0 59px 66px;
    }
    /* recomend */
    .recomend {
        margin-top: 55px;
    }
}


/* В макете при 421 некорректно отображается блок корзины с установлеными размерами шрифта */

@media (max-width:26.875em) {
    h1 {
        font-size: 1.125rem;
        line-height: 1.2222;
    }
}


/* 414 */

@media (max-width:25.875em) {
    h1 {
        font-size: 1.125rem;
        line-height: 1.2222;
    }
    .content {
        /* max-width: 21.75em; */
        padding: 0 2.0625em;
    }
    /* nav-line */
    .nav-icons {
        display: none;
    }
    /* nav-line */
    .nav-line {
        margin-top: 3.0625em;
    }
    .nav-line-path {
        font-size: 0.625rem;
        line-height: 1.2;
    }
    .nav-line-item {
        position: inherit;
        margin-top: 1.25em;
    }
    .nav-line-item h2 {
        font-size: 1.75rem;
        line-height: 1.122;
    }
    /* nav-items */
    .nav-items {
        display: flex;
        justify-content: space-between;
    }
    .nav-items a {
        margin-left: 0;
    }
    .nav-items::after {
        content: url(/img/icons/star_small.svg);
        top: -10px;
        right: -20px;
    }
    /* order-block */
    .order-block {
        margin-top: 42.45px;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .order-block__inner {
        padding: 0 60px;
    }
    .order-block__inner>p {
        font-size: 0.875rem;
        line-height: 17px;
    }
    /* recomend */
    .recomend {
        margin-top: 40px;
    }
    .recomend>h2 {
        text-align: center;
    }
    .recomend__cards {
        margin-top: 20px;
    }
    .card {
        width: 308.79px;
        height: 460px;
        margin-right: 8.22px;
    }
    .card__cont {
        padding: 0.9975em 1.341em 0;
        height: 392.69px;
    }
    .card__cont--name {
        height: 65px;
    }
    .card__cont>h2 {
        font-size: 1.5756rem;
        line-height: 1.1;
    }
    .card__footer {
        padding: 0.9975em 1.341em 0;
    }
    .card__footer>p {
        font-size: 1.465em;
        line-height: 1.219;
    }
    .recomend-scroll {
        margin-top: 6px;
    }
}