/* 1024px */

@media (max-width:64em) {
    .content {
        max-width: 54.375em;
    }
    .nav-line {
        margin-top: 4.125em;
    }
    .nav-items a {
        margin-left: 4.75em;
    }
}


/* 768 */

@media (max-width:48em) {
    .content {
        max-width: 44.125em;
        padding: 0 1.9375em;
    }
}


/* 414 */

@media (max-width:25.875em) {
    .content {
        max-width: 21.75em;
        padding: 0 2.0625em;
    }
    /* nav-line */
    .nav-icons {
        display: none;
    }
    /* nav-line */
    .nav-line {
        margin-top: 3.0625em;
    }
    .nav-line-path {
        font-size: 0.625rem;
        line-height: 1.2;
    }
    .nav-line-item {
        position: inherit;
        margin-top: 1.25em;
    }
    .nav-line-item h2 {
        font-size: 1.75rem;
        line-height: 1.122;
    }
    /* nav-items */
    .nav-items {
        display: flex;
        justify-content: space-between;
    }
    /* !add star! */
    .order-block__inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        align-content: center;
    }
}